{% extends 'layouts/tienda.html' %}{% load static %} {% block content %}

<div class="min-vh-100 d-flex flex-colum py-2">
    <div class="container">
        <h3 class="animate__animated animate__bounceInDown animate__delay-0.3s text-center py-4">DEVOLUCIONES</h3>
        <div class="row py-auto">
            <div class="col-10 mx-auto animate__animated animate__backInRight animate__delay-0.3s ">
                <p class="text-justify">
                    Si el producto entregado al Cliente fuese diferente al solicitado, el mismo Cliente podrá desistir de la compra, y JAGUARETE KAA S.A. procederá a la devolución de valor abonado por este. El Cliente dispone de 5 dias hábiles posterior a la entrega para
                    realizar el reclamo correspondiente. </p>
                <p class="text-justify">El orden de reembolso se realizará dentro de las 48 horas hábiles siguientes al reclamo del Cliente, y se hará efectiva a la cuenta de este según las políticas de las operadoras de tarjetas de crédito.
                </p>
                <p class="text-justify">
                    <span class="font-weight-bold"> Observación:</span> En ningún caso se prodrá proceder a realizar reembolso por un medio diferente al empleado para el pago. En todos los casos se deberá conservar la factura de compra.
                </p>
                <div class="col-10 text-right">
                    <a href="/" class="btn btn-dark my-4 mx-auto">Atras</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}