{% extends 'layouts/tienda.html' %}{% load static %} {% block content %}

<div class="min-vh-100 d-flex flex-colum py-2">
    <div class="container">
        <h3 class="animate__animated animate__bounceInDown animate__delay-0.3s text-center py-4">GARANTIA</h3>
        <div class="row py-auto">
            <div class="col-10 mx-auto animate__animated animate__backInRight animate__delay-0.3s">
                <p class="text-justify">
                    Todos los productos de nuestra distribución tienen garantía. Estas oscilan entre 6 meses a 3 años inclusive, dependiendo de las marcas, los productos y de ciertos componentes de los mismos. Las garantías son cubiertas por los representantes de cada marca,
                    quiénes a través de sus servicios autorizados informan sobre los productos que ingresan al mismo y las condiciones de las garantías. La garantía no significa cambio de mercaderías: La garantía incluye en todos los casos, mano de obra
                    y ajustes sin cargo alguno; además de los repuestos que presenten fallas o averías de origen. No así, las carcasas o los vidrios rotos, la chapería golpeada y el mal uso del producto en general, como tampoco las roturas de engranajes
                    por sobrecarga, el rotor, etc. La garantía no cubre las fallas, cuando estas son a causa de fenómenos naturales, como terremotos, inundaciones, tormentas eléctricas, etc.; o por situaciones accidentales o provocadas por incendios,
                    fluctuaciones de voltaje o corriente, robos; como tampoco cuando las mercaderías presenten adulteración del número de serie.
                </p>
                <p class="text-justify font-weight-bold">El derecho que otorga la garantía, queda automáticamente anulado: </p>
                <p class="text-justify">
                    1º Si el producto presenta señales evidentes de haber sido revisado por personal no autorizado por el representante.
                </p>

                <p class="text-justify">2º Por el solo hecho de haberse conectado a una corriente distinta a la indicada en el producto, o presentar señales de haber recibido una descarga eléctrica.
                </p>

                <p class="text-justify">
                    3º Si presenta señales evidentes de maltrato, golpes, caídas o uso indebido. O en los casos que los productos lleguen al taller sin las estampillas de garantías del proveedor.
                </p>
                <p class="text-justify">Precauciones al momento de recibir la mercadería Rogamos su completa revisión ya que los cambios de mercaderías con fallas o averías, solo se realizarán en los casos de reclamos recibidos dentro de las 48 horas siguientes a la recepción
                    de los productos, siempre y cuando se traten de defectos de fabricación.
                </p>
                <p class="text-justify"><span class="font-weight-bold">En el caso de los artículos electrónicos, será necesario un informe técnico previo</span>, de forma a determinar si el defecto proviene de origen, o fue a causa de la variación en la tensión de la corriente
                    eléctrica. Si su producto requiere instalación o enseñanza de uso y manejo para su correcta utilización, tenga la gentileza de llamar al Departamento de Servicio Técnico de Casa Central +595 981 962 250.
                </p>
            </div>
            <div class="col-10 text-right">
                <a href="/" class="btn btn-dark my-4 mx-auto">Atras</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}