{% extends 'layouts/tienda.html' %} {% load static %} {% block content %}
<br>
<div class="container">
    <div class="col-lg-6 mx-auto my-4">
        <div class="card-header mt-4 bg-dark">
            {% load crispy_forms_tags %}
            <div class="mt-2 text-center ">
                <h3 class="text-white d-inline-block">Login</h3>
                <img src="{% static 'assets/user.png' %}" width="50" heigth="50">
            </div>
            <div class="card-body py-3">
                <form class="form-control" method="post" action="">
                    {% csrf_token %} 
                    {{ form | crispy }}
                    <div class="my-3 text-center">
                        <button class="btn btn-danger" type='submit'>Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}